*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    padding: auto;
    margin: auto;
}

header {
    margin: 25px;
}

.inicio {
    background-color: cornflowerblue;
    color: black;
    font-size: 20px;
    padding: 0.2%;
}

.main {
    text-align: center;
}

.sobremi {
    font-size: 20px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 1%;
}

a {
    text-decoration: none;
}

    a:visited {
        color: black;
    }

    /*a:hover {
        color: cornflowerblue;
    }*/

ul {
    list-style: none;
    padding: 0;
    margin: lem 0;
}

    ul li a {
        display: block;
        padding: 0.5em;
    }

.imgredonda {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 270px 0px 270px;
}

.bi bi-gear-fill {
    margin-right: auto;
}
